.top {
    
    overflow: hidden;
  }
  
.top a {
    float: left;
    color: #0c0b0b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .top a:hover {
    background-color: lightseagreen;
    color: black;
  }
  
  .top a.active {
    background-color: darkgreen;
    color: rgb(7, 6, 6);
  }
.container{
  font-family: "Comic Sans MS", cursive, sans-serif;
    width: 900px;
    margin : 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    background-image: url(https://images.pexels.com/photos/552789/pexels-photo-552789.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
div.first {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
  }
  
div.first p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}
.contact1 {
    width: 100%;
    min-height: 100%;
    padding: 15px;
  
   
   
  

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .container-contact1 {
    width: 1163px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  
    padding: 90px 130px 88px 148px;
  }
  
 

  

  .contact1-form {
    width: 390px;
  }
  
  .contact1-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
  }
  
  input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
  }

  
  textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
  }

  
 
  .wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
  }
  
  .input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
}
.map{
    padding-left: 600px;
}
.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
  
